@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=MuseoModerno&display=swap");

* {
    font-family: "MuseoModerno", cursive;
}

.header {
    height: 90px;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between;
    box-shadow: 0 0 20px 5px darkred;
}


.header .lab-name{
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.header div {
    display: flex;
    align-items: center;
    margin: 10px 20px auto;
    flex-direction: column;
}

.header span, a{
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: orange;
    font-size: 17px;
    transition: 0.5s;
    text-shadow: 0 0 20px red;
}