


/*
    Для кнопок выбора X и R
*/

.button-input:hover{
    color: black;
    transition: 0.5s;
    border: 2px solid red;
    background-color: greenyellow;
}

.button-input{
    border: 2px solid black;
    border-radius: 6px;
    background-color: lightyellow;
}

/*
    Для кнопок отправки и очистки таблицы
*/
.special-button button{
    color: white;
    margin: 20px 5px 0;
    border-radius: 6px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    background-color: black;
    border: 2px solid black;
}

.special-button button:hover{
    color: black;
    transition: 0.5s;
    border: 2px solid red;
    background-color: ghostwhite;
}
